body {
    position: relative;
}

.modal {
    opacity: 0;
    position: absolute;
    background-color: aqua;
    margin: 50px auto;
}

.modal:target {
    opacity: 1;
}

#auth {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close {
    float: right;
    justify-items: end;
}

.input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}